<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Blurb</th>
    <th>Active?</th>
    <th>Bug Count</th>
    <th>Tracker Exp Date</th>
    <th>Git Repo</th>
    <th>Dev Server</th>
    <th>Project Manager</th>
  </tr>
  <%= render partial: "dashboard/projects/row", collection: projects, :as => :project %>
</table>