<h2>I AM TEST PAGE FOR WIDGET YESSSS</h2>

<!-- 

  technically this is bad rails practice, but b/c this is for purposes of testing will render view within view
  
  and this basically simulates usage -- a dev will export the script and manually drop into a project that is
  in bug period

 -->
<%= render 'embeddable_script', project: @project %>