#mech-bug-tracker {
	bottom: 0;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	left: -400px;
	position: absolute;
	width: 400px;
}
#mech-bug-tracker,
#mech-bug-tracker * {
	box-sizing: border-box;
}
#mech-bug-tracker .branding{
	background: url(http://arcane-coast-4951.herokuapp.com/images/TheMechanism_FullLogo.png) top left no-repeat;
	/* the following line is for local development ONLY, comment it out for production! */
	/*background: url(http://localhost:3000/images/TheMechanism_FullLogo.png) top left no-repeat;*/
	height: 38px;
	left: 7px;
	position: absolute;
	top: 7px;
	width: 300px;
}
#mech-bug-tracker .mech-bug-wrap {
	background-color: #59bae3; /* Old browsers */
	background-image: -moz-linear-gradient(45deg,  #59bae3 0%, #59aae3 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#59bae3), color-stop(100%,#59aae3)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* IE10+ */
	background-image: linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bae3', endColorstr='#59aae3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	padding: 50px 57px;
	-webkit-transition: -webkit-transform 1s ease;
	-moz-transition: -moz-transform 1s ease;
	-ms-transition: -ms-transform 1s ease;
	-o-transition: -o-transform 1s ease;
	transition: transform 1s ease;
}
#mech-bug-tracker .mech-bug-wrap .form-group {
	margin-bottom: 15px;
}
#mech-bug-tracker .mech-bug-wrap label {
	display: block;
	font-weight: bold;
}
#mech-bug-tracker .mech-bug-wrap input,
#mech-bug-tracker .mech-bug-wrap textarea {
	width: 100%;
	padding: 10px;
	font-size: 13px;
}
#mech-bug-tracker .mech-bug-wrap textarea {
	height: 100px;
}
#mech-bug-tracker .mech-bug-wrap fieldset {
	padding: 0;
	border: none;
}
#mech-bug-tracker.active .mech-bug-wrap {
	transform: translate(100%, 0px);
	-webkit-transform: translate(100%, 0px);
	-moz-transform: translate(100%, 0px);
	-o-transform: translate(100%, 0px);
	-ms-transform: translate(100%, 0px);
}
#mech-bug-tracker .mech-bug-wrap .mech-bug-close {
	background: #a6e7fe;
	color:#64b9e1;
	cursor: pointer;
	padding: 6px 12px;
	position: absolute;
	right: 0;
	top: 0;
}
#mech-bug-tracker .mech-pull-tab {
	background: #59bae3; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #59bae3 0%, #59aae3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#59bae3), color-stop(100%,#59aae3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* IE10+ */
	background: linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bae3', endColorstr='#59aae3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	bottom: 0;
	color: black;
	cursor: pointer;
	font-weight: 700;
	font-size: 17px;
	padding: 4px;
	position: absolute;
	right: -185px;
	width: 185px;
}
#mech-bug-tracker .mech-pull-tab .tab-inner {
	background: url(http://arcane-coast-4951.herokuapp.com/images/LilMech.png) left center no-repeat;
	/* the following line is for local development ONLY, comment it out for production! */
	/*background: url(http://localhost:3000/images/LilMech.png) left center no-repeat;*/
	display: inline-block;
	height: 29px;
	vertical-align: middle;
	width: 35px;
}
#mech-bug-tracker #mech-bug-submit, #mech-bug-tracker #mech-bug-list{
	background:#a2e8fc;
	border:0px;
	box-shadow: 0px 0px 0px black;
	color: black;
	cursor:pointer;
	display: inline-block;
	font-size:14px;
	font-weight:700;
	height: 23px;
	margin: 2px;
	padding: 2px 6px;
	text-decoration: none;
	vertical-align: middle;
	width: auto;
}
@media only screen and (max-width: 399px){
	#mech-bug-tracker {
		left: -100%;
		width: 100%;
	}
	#mech-bug-tracker .branding {
		width: 200px;
		height: 25px;
		background-size: cover;
	}
	#mech-bug-tracker .mech-bug-wrap {
		padding: 50px 20px;
	}
}

