#mech-bug-tracker {
	background-color: red;
	bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	left: -425px;
	position: absolute;
	width: 425px;
}
#mech-bug-tracker,
#mech-bug-tracker * {
	box-sizing: border-box;
}
#mech-bug-tracker .mech-bug-wrap {
	background: #59bae3; /* Old browsers */
background: -moz-linear-gradient(45deg,  #59bae3 0%, #59aae3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#59bae3), color-stop(100%,#59aae3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* IE10+ */
background: linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bae3', endColorstr='#59aae3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding: 50px 57.5px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
#mech-bug-tracker .mech-bug-wrap .form-group {
	margin-bottom: 15px;
}
#mech-bug-tracker .mech-bug-wrap label {
	display: block;
	font-weight: bold;
}
#mech-bug-tracker .mech-bug-wrap input,
#mech-bug-tracker .mech-bug-wrap textarea {
	width: 100%;
	padding: 10px;
	font-size: 13px;
}
#mech-bug-tracker .mech-bug-wrap textarea {
	height: 60px;
	padding: 10px;
	font-size: 13px;
	width: 100%;
}
#mech-bug-tracker.active .mech-bug-wrap {
	transform: translate(425px, 0px);
	-webkit-transform: translate(425px, 0px);
	-moz-transform: translate(425px, 0px);
	-o-transform: translate(425px, 0px);
	-ms-transform: translate(425px, 0px);
}
#mech-bug-tracker .mech-bug-wrap .mech-bug-close {
	background: #a6e7fe;
	color:#64b9e1;
	cursor: pointer;
	padding: 6px 12px;
	position: absolute;
	right: 0;
	top: 0;
}
#mech-bug-tracker .mech-pull-tab {
	background: #59bae3; /* Old browsers */
background: -moz-linear-gradient(45deg,  #59bae3 0%, #59aae3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#59bae3), color-stop(100%,#59aae3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* IE10+ */
background: linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bae3', endColorstr='#59aae3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	bottom: 0;
	color: black;
	cursor: pointer;
	font-weight: 700;
	font-size: 17px;
	padding: 4.5px;
	position: absolute;
	right: -185px;
	text-align: center;
	width: 185px;
}
#mech-bug-tracker .mech-pull-tab .tab-inner{
	width:160px;
	margin:auto;
}
#mech-bug-tracker .mech-pull-tab .tab-inner .icn{
float:left;
height:29px;
width:26px;
}
#mech-bug-tracker .mech-pull-tab .tab-inner .txt{
padding-top:2.5px;
}

#mech-bug-tracker .mech-pull-tab .tab-inner .icn img{
	max-height:100%;
	max-width:100%;
}
.branding{
	position:absolute;
	top:7.5px;
	left:7.5px;
}
#bug_submit{
	background:#a2e8fc;
	border:0px;
	box-shadow: 0px 0px 0px black;
	font-size:14px;
	cursor:pointer;
	font-weight:600;
}

