<% if bug.status == 'Open' %>

  
  <%= simple_form_for bug, url: dashboard_bug_path(bug), remote: true do |f| %>
        
    <!-- < %= f.association :admin, label: 'Assigned To:' %> -->
    <%= f.button :submit, "Submit for review" %>
  <% end %>
<% elsif bug.status == 'Verify' %>
    <!-- 
      if current_admin == project_manager
        then admin should have option to review the bug, and verify

        link_to bug_verify_path ## a view only pm's can access

      else
        admin (dev or designer) sees 'In Review'
    
     -->
    <!-- <td>< %= link_to 'Verify' %></td> -->
<% else # bug is closed %>
  <!-- <td>Closed</td> -->
<% end %>

<% 
  
  if current_admin == bug.project


%>