<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  // console.log(<%= modal_urls  %>);
  // $( document ).ready( function(){
    var modalFormUrls = <%= modal_urls  %>;
    var modalForms = {};

    _.each(modalFormUrls, function(url, key){
      $.get(url, function(partial){
        modalForms[key] = partial;
      });
      
      $('.' + key).click(function(){
        $('.modal-title').html( toCapitalizedWords(key) );
        $('.modal-body').html( modalForms[key] );
        $('.modal').modal(); 
      })  
    });

    $('.modal').submit(function(event){
      $('form').hide()
      $('.modal-body').append( '<%= fa_icon 'spinner spin' %>' );
      return true;
    });


    //  TODO - move to utility functions file
    function toCapitalizedWords(name) {
        var words = name.match(/[A-Za-z][a-z]*/g);
        return words.map(capitalize).join(" ");
    }

    function capitalize(word) {
        return word.charAt(0).toUpperCase() + word.substring(1);
    } 


    $('.modal')
        .bind('ajax:success', function(e, data, status, xhr) {
          if (data.redirect_url){
            console.log(data)
            window.location.replace(data.redirect_url);
          } else {
            console.log(data);
            $('.modal-body').html( data);
          }
        })
        .bind('ajax:error', function(e, xhr, status, error) {
            console.log("error json: " + xhr.responseText);
        });

  // });
  
  
</script>