<div class="alert" role="alert">
  <div class="alertContent">
    <strong></strong> <span></span>
  </div>
  
</div>

<script>
  // $(document).ready(function(){
    var uaf = new UserAjaxFeedback( '<%= @callbacks_key if @callbacks_key %>' );
    uaf.init();  
  // })
</script>