<div class="alert" role="alert">
  <div class="alertContent">
    <strong></strong> <span></span>
  </div>
  
</div>

<script>
  $(document).ready(function(){
    // TODO -- necessary to clear the namespace to not multiassign document listeners. WIERD.
    var uaf = undefined;
    var uaf = new UserAjaxFeedback();
    uaf.init();  
  })
</script>