<h3>What should I see in my profile page?</h3>

<!-- <ul>
  <li>
    All bugs assigned to me, sortable by 
    <ul>
      <li>project</li>
      <li>still open</li>
      <li>project is active</li>
    </ul>
  </li>
</ul> -->

<h4>My Bugs</h4>
<div>
  <%= content_tag(:a, fa_icon('plus', text: "Edit My Profile"), class: 'btn  btn-default edit_admin' )%>
</div>
<%= render 'dashboard/bugs/table', bugs: @bugs %>
<%= render 'shared/modal', modal_urls: @modal_urls %>


<!--  

  MAYBE THE SORTER IS NOT NECESSARY FOR PROFILE PAGE? 

< %= react_component(
  'BugSortApp',
  {
    admins_path: dashboard_admins_path,
    bugs_path: dashboard_admin_bugs_path(@admin),
    projects_path: dashboard_projects_path
  }

) %>

-->