<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Developers</h1>
    <p>
      <%= @bug.name %> has submitted a bug to our bug tracker.<br>
    </p>
    <ul>
      <li>url: <%=@bug.url %></li>
      <li>description: <%=@bug.description %></li>
      <li>browser: <%=@bug.browser %></li>

    </ul>
    <p>For more info log into our bug tracking software.</p>
    <p>Love,</p>
    <p>Computer</p>
  </body>
</html>