
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bourbon";
@import "font-awesome";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.dashboard{
  @import 'dashboard/alert_override';
  @import 'dashboard/modal_override';
}

.public {
    @import 'pages/bugs';
    @import 'pages/clients';

}

